header
{
    background-image: url() format;
}
h1
{
    font-size: 50;
    color: var(--primary-color);
    font-family: var(--main-font);
}
p{
    font-family: var(--main-font);
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}
li{
    float:left;
    
}
img{
    width: 10%;
    height: auto;
}