@import "tailwindcss";
@import "react-slideshow-image/dist/styles.css";

#root {
  max-width: 1960px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
  --bg-dark: #2f3847;
  --primary-color: #38bdf8;
  --forms-bg-light: #E5E7EB;
  --forms-bg-dark: #364153;
}

@theme {
  --primary-color: var(--primary-color),
  --forms-bg-light: var(--forms-bg-white);
  --forms-bg-dark: var(--forms-bg-dark);
  --bg-dark: var(--bg-dark);
}

@custom-variant dark (&:where(.dark, .dark *));