@import "tailwindcss";
@import "react-slideshow-image/dist/styles.css";

#root {
  max-width: 1960px;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
  --primary-color: #38bdf8;
  --bg-color: white;
  --portugues: true;
}

@theme {
  --primary-color: var(--primary-color),
  --bg-color: var(--bg-color),
  --idioma: var(--portugues),
}
